*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: rgba(174, 212, 230);
    --content-background: #fafafa;
    --todo-background: #ffffff;
    --todo-header: rgb(104, 142, 160);
    --todo-color: rgba(0, 0, 0, 0.3);
    --todo-highlight: rgba(0, 0, 0, 0.4);
    --button-color: #fafafa;
    --button-highlight-color: rgb(224, 224, 224);
    --button-font-color: rgb(0, 0, 0);
    --text-color: rgb(26, 200, 237);
    --header-color: rgb(104, 142, 160);
    --input-border-color: rgb(104, 142, 160);
    --save-button: rgb(255, 165, 0);
    --save-button-hover: rgb(255, 184, 0);
    font-size: 24px;
    font-family: 'Roboto', sans-serif; 
}

html {
    font-size: 1.6em;
}

body {
    font-family: 'Roboto', sans-serif; 
    background-color: var(--main-bg-color);
}

h2 {
    color: var(--header-color);
    font-size: 1em;
    margin: .2rem 0;
    padding-left: .2rem;
}

h3 {
    font-size: 0.6rem;
    margin: .1rem 0;
}

input {
    margin: .2rem 0 .2rem .5rem;
    padding: .3rem;
    height: 32px;
    outline: none !important;
    border: 2px solid gray;
    border-radius: 5px;
}

input:focus {
    border: 2px solid var(--input-border-color);
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    margin: .2rem 0;
    padding: .1rem;
    text-align: left;
    background: var(--button-color);
    color: var(--button-font-color);
    white-space: normal;
    word-wrap: break-word;
}

button:hover {
    background: var(--button-highlight-color);
}

header {
    padding: .75rem .5rem;
    font-size: 1.5rem;
    background: linear-gradient(
        0deg, rgb(104, 142, 160, .2) 0%, var(--content-background) 50%, var(--content-background) 100%);
}

.header-icon {
    color: rgba(0,0,0,0.6);
}

#project-name {
    color:white;
}

#content-container {
    background: var(--content-background);
    display: flex;
    height: calc(100vh);
}

#toolbar {
    display: flex;
    flex-direction: column;
    min-width: 175px;
    padding: .5rem;
}

#content {
    flex-grow: 1;
    padding: 1rem;
}

#content-header {
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: var(--todo-header);
    padding: 0rem .5rem;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
}

#content-body {
    display: flex;
    flex-direction: column;
    background: var(--todo-background);
    flex-grow: 1;
    padding: .2rem .4rem .4rem .4rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
}

#projects {
    display: flex;
    flex-direction: column;
}

.button-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}

#new-project-button {
    font-size: 14px;
    font-weight: bold;
}

.button-project > span {
    margin: 0 auto 0 .2rem;
}

.delete-todo {
    visibility: hidden;
    margin: 0 .25rem;
}

button:hover .delete-todo {
    visibility: visible;
    margin: 0 .25rem;
}

.button-project .delete-project  {
    visibility: hidden;
    margin: 0 .25rem;
}

.button-project:hover .delete-project {
    visibility: visible;
    margin: 0 .25rem;
}

.todo-checkbox {
    margin-left: .5rem;
}

.new-project-container {
    display: flex;
    flex-direction: column;
    padding: 8px .5rem .5rem .5rem; 
    justify-items: end;
}

.two-buttons {
    margin: auto; 
}

.new-todo-container {
    display: flex;
    margin: 0;
    padding: .2rem 0rem;
    padding: 0;
    margin: 0;
}

.new-todo-container > div {
    padding-left: .5rem;
}

.new-todo-container > button {
    background: gray; 
    padding: 0;
    margin: 0;
}

.hidden {
    display: none; 
}

.input-date {
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}

#button-new-todo {
    margin: .2rem .25rem .2rem 1rem;
    height: 32px;
    font-weight: bold;
    background: none;
}

#button-save-todo {
    padding: 8px;
    background: var(--save-button);
}

#button-cancel-project {
    padding: 8px;
}

#button-cancel-todo {
    padding: 8px;
}

#button-save-project {
    padding: 8px;
    margin: 0;
    background: var(--save-button);
}

#button-save-project:hover {
    background: var(--save-button-hover);
}

#button-save-todo:hover {
    background: var(--save-button-hover);
}

.new-todo-area {
    display: flex;
    align-items: center;
    padding: 8px 0 0 0;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
}

.button-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--todo-color);
    margin: 0.25rem;
    color: var(--button-font-color);
}

.button-todo:hover {
    background: var(--todo-highlight);
}

.inactive {
    background-color: gray;
    opacity: 0.3;
}

.inactive:hover {
    background-color: gray;
    opacity: 0.3;
}

.todo-buttons-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-priority {
    margin: 0 .5rem;
    padding: 4px;
    border-radius: 2px;
}

.priority-1 {
    background: red;
    color: red;
}

.priority-2 {
    background: orange;
    color: orange;
}

.priority-3 {
    background: green;
    color: green;
}

.fas {
    padding: .2rem;     
}